@font-face {
	font-family: 'Roboto';
	src: local('Roboto Regular'),url('../../assets/fonts/Roboto-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Roboto';
	src: local('Roboto Thin'),url('../../assets/fonts/Roboto-Thin.ttf') format('truetype');
	font-style: normal;
	font-weight: 100;
}

@font-face {
	font-family: 'Roboto';
	src: local('Roboto Light'),url('../../assets/fonts/Roboto-Light.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: 'Roboto';
	src: local('Roboto Medium'),url('../../assets/fonts/Roboto-Medium.ttf') format('truetype');
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: 'Roboto';
	src: local('Roboto Bold'),url('../../assets/fonts/Roboto-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: 700;
}