
body {
    margin: 0;
    background-color: var(--white);
    color: var(--dark);
    font-family: 'Roboto';
}
a {
    text-decoration: none;
}

header, img, section, div, main, input, button, footer, a {
    display: flex;
}