:root {
    --white: #FFF;
    --white-hover: rgba(255, 255, 255, .9);
    --black: #000;
    --dark: #333333;

    --blue: #0B2954;
    --blue-1: #3F6293;
    --blue-2: #134994;

    --gray: #707070;


    --space-5: 5px;
    --space-10: 10px;
    --space-20: 20px;
    --space-50: 50px;

}